@font-face {
  font-family: "SourceSansLight";
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansRegular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansBold";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #EF0D61 -12.73%, #131B41 54.91%, #411340 100%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}
header .logo {
  margin-top: 20vh;
  width: 25%;
}

.sessao-times {
  margin-top: 40vh;
}
.sessao-times h1 {
  font-size: 2em;
  text-align: center;
  color: #ffff;
  font-family: "SourceSansBold";
}
.sessao-times .apresentadores img {
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0px 0px 6px #0000001c;
  filter: grayscale(1);
  cursor: pointer;
}
.sessao-times .apresentadores img:hover {
  filter: none;
}

.container-form {
  width: 90%;
  margin: 0 auto;
  margin-top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-image: url(/assets/imgs/fio-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 100vh;
  margin-top: 150vh;
}
.formulario .form-validate {
  width: 40%;
}

label {
  font-family: "SourceSansRegular";
  color: #ffff;
  font-size: 1em;
}

.form-idade {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #411340;
}

input[class=form-nome] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #411340;
}

input[class=form-idade] {
  width: 6vw;
  height: 6vh;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn-enviar {
  background-color: #EF0D61;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  box-shadow: 15px 6px 20px rgba(0, 0, 0, 0.38);
  border-radius: 8px;
}

.btn-enviar:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.sessao-form {
  display: flex;
  flex-direction: column;
}

.mosaico {
  background-color: #0D0817;
  width: 100%;
  min-width: 100%;
}
.mosaico .caixa-mosaico {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.mosaico .caixa-mosaico .mosaico-fas {
  background-color: red;
  background: linear-gradient(0deg, rgba(239, 13, 97, 0.42), rgba(239, 13, 97, 0.42)), url(/assets/imgs/mosaico/ana-mosaico.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20vw;
  height: 20vh;
  margin-right: 2vw;
}

.footer {
  background-color: #0D0817;
  width: 100%;
  height: 50vh;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 50px 4px 30px rgba(255, 250, 250, 0.5);
}

@media (min-width: 900px) {
  .sessao-times h1 {
    font-size: 2em;
  }
  .sessao-times .apresentadores {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
  }
  .sessao-times .apresentadores .time {
    position: relative;
  }
  .sessao-times .apresentadores .time .bloco-apresentador {
    position: absolute;
  }
  .sessao-times .apresentadores .time .bloco-apresentador:nth-of-type(2) {
    left: 24vw;
  }
  .sessao-times .apresentadores .time .bloco-apresentador:nth-of-type(3) {
    left: 50vw;
  }
}
@media (max-width: 700px) {
  header {
    background-image: url(/assets/imgs/luzes.png);
    background-image: url(/assets/imgs/luzes.png);
    background-size: 123%;
    background-repeat: no-repeat;
    margin: 0 -27px 0 -15px;
    margin-left: -15;
    background-position: top;
    height: auto;
  }
  header .logo {
    width: 50%;
  }

  .apresentadores .time {
    display: flex;
    flex-wrap: wrap;
  }
  .apresentadores .time .bloco-apresentador {
    width: 50%;
  }

  .formulario {
    margin-top: 0;
    background-size: 200%;
    background-position: top;
  }
  .formulario .form-validate {
    width: 80%;
    margin: 0 auto;
  }
  .formulario .form-validate .form-bloco {
    display: flex;
    flex-direction: column;
  }
  .formulario .form-validate input[class=form-idade] {
    width: 100%;
    height: 6vh;
  }
  .formulario .form-validate #estados {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #411340;
  }
  .formulario .form-validate #times {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #411340;
  }
  .formulario .form-validate option {
    background-color: #0D0817;
    color: #ffff;
  }
}

/*# sourceMappingURL=stlyes.css.map */
