@font-face {
  font-family: "SourceSansLight";
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansRegular";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansBold";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #EF0D61 -12.73%, #131B41 54.91%, #411340 100%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

header .fundo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/imgs/fio-background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 104%;
  width: 100%;
  height: 100vh;
}
header .logo {
  margin-top: 20vh;
  width: 25%;
}

.sessao-times h1 {
  font-size: 2em;
  text-align: center;
  color: #ffff;
  font-family: "SourceSansBold";
}
.sessao-times .apresentadores time {
  display: flex;
  justify-content: center;
}
.sessao-times .apresentadores img {
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0px 0px 6px #0000001c;
  filter: grayscale(1);
  cursor: pointer;
}
.sessao-times .apresentadores img:hover {
  filter: none;
}

.container-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-form .texto-form {
  padding: 12vh 0;
}
.container-form .texto-form p {
  color: #ffff;
  font-family: "SourceSansBold";
  text-align: center;
  font-size: 1.2em;
}

.formulario {
  background-image: url(/assets/imgs/fio-background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  width: 100%;
  min-height: 100vh;
  margin-top: -3vh;
}
.formulario .form-validate {
  width: 40%;
}
.formulario .form-validate .form-group .bloco-destaque {
  display: flex;
  justify-content: space-between;
}
.formulario .form-validate .form-group .sessao-form {
  display: grid;
}
.formulario .form-validate .form-group .bloco-times {
  display: flex;
  flex-direction: column;
}
.formulario .form-validate .form-group option {
  background-color: #0D0817;
  color: #ffff;
}

label {
  font-family: "SourceSansRegular";
  color: #ffff;
  font-size: 1em;
}

input[class=form-nome], [class=form-times] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
}

.form-nome, .form-idade, .form-cidade, .form-estado, .form-times {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #ffff;
  font-family: "SourceSansRegular";
  font-size: 1em;
}

input[class=form-idade] {
  width: 10vw;
  height: 6vh;
}

input[class=form-cidade] {
  width: 20vw;
  height: 6vh;
}

input[class=form-idade] {
  width: 9vw;
  height: 6vh;
}

input[type=text]:focus {
  background-color: #0D0817;
  outline: none;
}

.btn-enviar {
  background-color: #EF0D61;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  box-shadow: 15px 6px 20px rgba(0, 0, 0, 0.38);
  border-radius: 8px;
}

.btn-enviar:hover {
  opacity: 1;
}

.container-mosaico {
  width: 100%;
  min-width: 100%;
}
.container-mosaico h2 {
  color: #EF0D61 !important;
  font-family: "SourceSansBold";
  text-align: center;
  font-size: 3em;
  padding: 10vh 0;
}
.container-mosaico .caixa-mosaico {
  width: 70%;
  margin: 0 auto;
  margin-top: 7vh;
}
.container-mosaico .caixa-mosaico .mosaico-fas {
  display: flex;
  flex-wrap: wrap;
}
.container-mosaico .caixa-mosaico .mosaico-fas img {
  width: 100%;
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas {
  background: #0D0817;
  width: 20%;
  margin-bottom: 5vh;
  margin-left: 2vw;
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .info-pessoal {
  display: flex;
  justify-content: space-around;
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .info-pessoal h3, .container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .info-pessoal p {
  color: #ffff;
  opacity: 30%;
  font-family: "SourceSansLight";
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .info-pessoal h3 {
  font-size: 1em;
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .info-pessoal p {
  font-size: 0.8em;
}
.container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas .fa-time {
  font-family: "SourceSansBold";
  color: #EF0D61;
  font-size: 1.2em;
}

.footer {
  width: 100%;
  height: 50vh;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 50px 4px 30px rgba(255, 250, 250, 0.5);
}

@media (min-width: 900px) {
  .sessao-times h1 {
    font-size: 2em;
  }
  .sessao-times .apresentadores {
    right: 0;
  }
  .sessao-times .apresentadores .time {
    position: relative;
  }
  .sessao-times .apresentadores .time .bloco-apresentador {
    width: 24%;
  }
  .sessao-times .apresentadores .time .bloco-apresentador:nth-of-type(2) {
    left: 24vw;
  }
  .sessao-times .apresentadores .time .bloco-apresentador:nth-of-type(3) {
    left: 50vw;
  }
}
@media (max-width: 700px) {
  header .fundo-header {
    background-image: url(/assets/imgs/fio-background.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: 305%;
    width: 100%;
    height: 100vh;
  }
  header .logo {
    margin-top: 20vh;
    width: 25%;
  }
  header .logo {
    width: 50%;
  }

  .apresentadores .time {
    display: flex;
    flex-wrap: wrap;
  }
  .apresentadores .time .bloco-apresentador {
    width: 50%;
  }

  .formulario {
    margin-top: 0;
    background-size: auto;
    background-position: unset;
  }
  .formulario .form-validate {
    width: 80%;
    margin: 0 auto;
  }
  .formulario .form-validate .form-bloco {
    display: flex;
    flex-direction: column;
  }
  .formulario .form-validate input[class=form-idade], .formulario .form-validate [class=form-cidade] {
    width: auto;
    height: 5vh;
  }
  .formulario .form-validate #estados {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #411340;
  }
  .formulario .form-validate #times {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #411340;
  }
  .formulario .form-validate option {
    background-color: #0D0817;
    color: #ffff;
  }

  .formulario .form-validate .form-group .bloco-destaque {
    display: block;
    justify-content: space-between;
  }

  .container-mosaico .caixa-mosaico {
    width: auto;
    margin: 0 auto;
    padding: 13px;
  }
  .container-mosaico .caixa-mosaico .mosaico-fas {
    display: flex;
    justify-content: center;
  }
  .container-mosaico .caixa-mosaico .mosaico-fas .informacao-fas {
    width: 40%;
    padding-right: 2vw;
  }

  .container-form .texto-form {
    padding-top: 8vh;
  }
  .container-form .texto-form p {
    color: #ffff;
    font-family: "SourceSansRegular";
    text-align: center;
    font-size: 1em;
    padding: 2vh 8vw;
  }
}

/*# sourceMappingURL=styles.css.map */
